.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.dFA {
  display: flex;
  align-items: center;
}

.cP {
  cursor: pointer;
}

.dF {
  display: flex;
}

.fS {
  font-size: small;
}

.cW {
  color: white;
}

.tdN {
  text-decoration: none;
}

.dG {
  display: grid;
}

.fdR {
  flex-direction: row;
}

.fdC {
  flex-direction: column;
}

.jcC {
  justify-content: center;
}

.fwW {
  flex-wrap: wrap;
}

.oP {
  object-position: top center;
}

.fwB {
  font-weight: bold;
}

.oS {
  overflow: scroll;
}

.oH {
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
